@font-face {
  font-family: 'Saudi';
  src: url('../assets/fonts/Saudi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saudi';
  src: url('../assets/fonts/Saudi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
